%p#notice= notice

%p
  %b Descrição:
  = @tipo_atendimento.descricao
%p
  %b Duração (min):
  = @tipo_atendimento.duracao

= link_to 'Edit', edit_tipo_atendimento_path(@tipo_atendimento)
\|
= link_to 'Back', tipo_atendimentos_path
