- if @cdr.errors.any?
	= render 'layouts/errors', object: @cdr
.container-fluid
	= form_for @cdr, :remote=> true do |f|
		= f.hidden_field :atendimento_id
		.row-fluid		
			.span9
				= f.label :pontos, :class=>'control-label'
				= f.text_field :pontos, :class=>'input-small'
			.span3
				%label.control-label &nbsp;
				= f.submit class: "btn btn-primary"
				-#= button_tag(:type=>'submit',:class=>'btn btn-primary') do
					-#%i.icon-ok.icon-white
					-#Salvar
