-model_class = Cargo
%h1 
    Cargos
    %small - Listagem
%p
%table.table.table-striped
    %thead
        %th #
        %th 
            = link_to "Descrição", :sort=>"descricao"
        %th 
            = link_to "Tipo de Documento", :sort=>"tipodoc"
        %th 
            = link_to "Função", :sort=>"funcao_id"
        %th 
    %tbody
        -@cargos.each_with_index do |f,index|
            %tr
                %td 
                    =index+1
                %td 
                    =f.descricao
                %td 
                    =f.tipodoc
                %td
                    =f.funcao.descricao
                %td
                    = link_to edit_cargo_path(f), :class=>'btn btn-mini' do 
                        %i.icon-edit
                        Alterar
                    = link_to cargo_path(f),:method=>:delete, :class=>'btn btn-mini btn-danger',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) } do
                        %i.icon-trash.icon-white
                        Apagar
= link_to new_cargo_path, :class=>'btn btn-primary' do
    %i.icon-file.icon-white 
    Novo
%p