<%= form_for @paciente, :html => { :class => 'form-horizontal' } do |f| %>
  <!-- Verificando erros -->
  	<div class="alert alert-info">
		<%= f.fields_for :pessoa do |p| %>
		<table class="table table-condensed">
 				<thead>
 					<tr>
 						<th>Prontuário</th>
 						<th>Nome</th>
 						<th>Data de nascimento</th>
 						<th>Sexo</th>
 					</tr>	
 				</thead>
 				<tbody>
 					<tr>
 						<td><%= f.text_field :prontuario,:disabled=>true,:class=>'input-small' %></td>
 						<td><%= p.text_field :nome,:disabled=>true,:class=>'input-xxlarge' %></td>
 						<td><%= p.text_field :data_nas,:id=>'data',:value=> dateFormat(@paciente.pessoa.data_nas) ,:disabled=>true,:class=>'input-small' %></td>
		    			<td><%= p.text_field :sexo, :disabled=>true,:id=>'sexu',:class=>'input-small' %></td>
					</tr>
 				</tbody>
			</table>
		<% end %>	
	</div>
<% end %>