_<%= form_for @meem, :html => { :class => 'form-horizontal' } do |m| %>
  <!-- Verificando erros -->
  <% if @meem.errors.any? %>
  	<div class="span12">
		<div class="alert alert-error">
	    	<a class="close" data-dismiss="alert">&#215;</a>
	      	<div id="flash_alert"><h3>Não foi possível salvar, pois existe(m) <%= pluralize(@meem.errors.count, "erro") %>:
	  		</h3>
	      		<ul>
	      			<% @meem.errors.full_messages.each do |msg| %>
	        			<li><%= msg %></li>
	      			<% end %>
	      		</ul>
	  		</div>
	   	</div>
	</div>
  <% end %> <!-- Fim de verificação de erros -->
  <div class="control-group">
  	<%= m.label 'Score', :class => 'control-label' %>
	<div class="controls">
		<%= m.text_field :score, :class => 'input-medium' %>
	</div>
   </div>
   <% end %>