%p#notice= notice

%p
  %b Pontos:
  = @aivd.pontos
%p
  %b Dependencia:
  = @aivd.dependencia
%p
  %b Atendimento:
  = @aivd.atendimento_id
%p
  %b Tipo exame:
  = @aivd.tipo_exame_id

= link_to 'Edit', edit_aivd_path(@aivd)
\|
= link_to 'Back', aivds_path
