:css
	.no-space [class*="span"] {
		margin-left: 0;
		text-align: center;
	}
.container-fluid
	= form_for @avd, :remote=> true do |f|
		=f.hidden_field :atendimento_id
		.row-fluid
			.span3
				%label.control-label Banho
				= f.text_field :banho, :class=>'input-small'
			.span3
				%label.control-label Vestir
				= f.text_field :vestir, :class=>'input-small'
			.span3
				%label.control-label Higiene
				= f.text_field :higiene,:class=>'input-small'
		.row-fluid
			.span3
				%label.control-label Transferência
				= f.text_field :transferencia,:class=>'input-small'
			.span3
				%label.control-label Continência	
				= f.text_field :continencia,:class=>'input-small'
			.span3
				%label.control-label Alimentação	
				= f.text_field :alimentacao,:class=>'input-small'
			.span3
				%label.control-label &nbsp;	
				= f.submit class: 'btn btn-primary'