= hidden_field_tag :duracaoAtendimento,@atendimento.tipo_atendimento.duracao
.container-fluid
  = render 'errors'
  .row-fluid
    .span3
      .well.well-small
        %p.lead
          .panel.panel-default{"data-toogle"=>"tooltip", "data-placement"=>"top"}
            .panel-body              
              .text-center
                .lead{:id=>"clock"}
                = button_tag(:type=> 'submit',:class=>'btn btn-danger',:id=>'btn-reset',:rel=>'popover', :data=>{:html=>"true", :placement=>"top"}) do
                  %i.icon-stop.icon-white
                  Finalizar atendimento
      
      //Sidebar
      .accordion{:id=>"accordionAtendimento"}
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{:href=>'#collapse1',:data=>{:toggle=>'collapse',:parent=>'#accordionAtendimento'}}
              AVALIAÇÃO INICIAL
          #collapse1{:class=>"accordion-body.collapse.in"}
            .accordion-inner
              %ul
                %li
                  %a{:id=>'linkIdentificacao', :href=>'#'} Dados de identificação
                   
                %li 
                  Situação familiar
                %li 
                  Recursos econômicos
                %li 
                  HPP
              %p
        //Aba de informações
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{:href=>'#collapse2',:data=>{:toggle=>'collapse',:parent=>'#accordionAtendimento'}}
              EXAMES
          #collapse2{:class=>"accordion-body.collapse.in"}
            .accordion-inner
              %ul
                %li
                  %a{:id=>'linkNeuro', :href=>'#'}Neuropsicológicos
                %li
                  %a{:id=>'linkCompl', :href=>'#'} Complementares
                %li
                  %a{:id=>'linkImag', :href=>'#'} Imagem
        //Aba de informações
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{:href=>'#collapse3',:data=>{:toggle=>'collapse',:parent=>'#accordionAtendimento'}}
              ANAMNESE
          #collapse3{:class=>"accordion-body.collapse.in"}
            .accordion-inner
              %ul
                %li
                  %a{:id=>'linkAvaliacao', :href=>'#'} Avaliação
                  
     
    .span9
      = render 'header'
      .page-header 
      #contentArea
        .avaliacao
          = render 'pacientes/dadosPessoais'
        .exames
          = render 'exames'
        -#= render 'exames2'
  
%script{:src=>"/assets/jquery.min.js", :type=>"text/javascript"}
%script{:src=>"/assets/jquery.countdown.min.js", :type=>"text/javascript"}
//%script{:src=>"/assets/jquery.countdown-pt-BR.js", :type=>"text/javascript"}
:javascript
  $(function(){
    $('.avaliacao').hide();
    $('.exames').hide();
    
    $('#linkIdentificacao').click(function(){
      $('.avaliacao').show(100);
      $('exames').hide();
    })
    $('#linkNeuro, #linkCompl, #linkImag').click(function(){
      $('.avaliacao').hide();
      $('.exames').show(1000);
    })
    $('#linkNeuro').click(function(){
      $('#neuro').show('slow');
      $('#complementares').hide();
      $('#imagem').hide();
    })
    $('#linkCompl').click(function(){
      $('#neuro').hide();
      $('#complementares').show('slow');
      $('#imagem').hide();
    })
    $('#linkImag').click(function(){
      $('#neuro').hide();
      $('#complementares').hide();
      $('#imagem').show('slow');
    })
  });
  // pega a duração do atendimento para o cronômetro!
  var $at=$('#duracaoAtendimento').val(); 
  function get30secFromNow() {
    return new Date(new Date().valueOf() +   parseInt($at) * 60 * 1000);
  }
  
  var $clock = $('#clock');

  $clock.countdown(get30secFromNow(), function(event) {
    $(this).html("<h2>"+event.strftime('%M:%S')+"</h2>");
  });
  
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
  