- if @tomografia.errors.any?
	= render 'layouts/errors', object: @tomografia
= form_for @tomografia, :remote=> true, :html=>{:class=>'form-horizontal'} do |f|
	= f.hidden_field :atendimento_id
	.control.group
		%label.control-label Data do Exame
		.controls	
			= f.text_field :data_exame, :class=>'input-small'
	%br
	.control.group
		%label.control-label Laudo
		.controls	
			= f.text_area :laudo, :rows=>'6', :class=> 'input-xxlarge'
			%br
			%br
			= f.submit class: "btn btn-primary"
			-#= button_tag(:type=>'submit',:class=>'btn btn-primary') do
				-#%i.icon-ok.icon-white
				-#Salvar