%h1 
	Pacientes ausentes
	%legend 
		período 2 meses

%table.table.table-hover
	%thead
		%tr
			%th Paciente
			%th Telefone
			%th Celular
			%th Último atendimento em
			%th Funcionário(a)
	%tbody
		- @paciente_reports.each do |pr|
			-if !(pr.ultimoAtendimento.nil?)
				- if(pr.ultimoAtendimento.data_at < 2.month.ago.to_date) 
					-#Se o último atendimento ocorreu X meses atras....
					%tr
						%td= pr.pessoa.nome
						%td= pr.pessoa.telefone
						%td= pr.pessoa.telefonecel
						%td
							= dateFormat(pr.ultimoAtendimento.data_at) 
							%strong
								(
								= diasCorridos(pr.ultimoAtendimento.data_at)
								dias )
						%td= pr.ultimoAtendimento.funcionario.pessoa.nome 

