%p#notice= notice

%p
  %b Pontos:
  = @camcog.pontos
%p
  %b Atendimento:
  = @camcog.atendimento_id
%p
  %b Tipo exame:
  = @camcog.tipo_exame_id

= link_to 'Edit', edit_camcog_path(@camcog)
\|
= link_to 'Back', camcogs_path
