= semantic_form_for @cerad do |f|
  = f.inputs do
    = f.input :pontos
    = f.input :tentativa1
    = f.input :tentativa2
    = f.input :tentativa3
    = f.input :atendimento_id

  = f.actions do
    = f.action :submit, :as => :input
