%h1 Listing gds

%table
  %tr
    %th Pontos
    %th Atendimento
    %th Tipo exame
    %th
    %th
    %th

  - @gds.each do |gd|
    %tr
      %td= gd.pontos
      %td= gd.atendimento_id
      %td= gd.tipo_exame_id
      %td= link_to 'Show', gd
      %td= link_to 'Edit', edit_gd_path(gd)
      %td= link_to 'Destroy', gd, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Gd', new_gd_path
