%p#notice= notice

%p
  %b Pontos:
  = @gd.pontos
%p
  %b Atendimento:
  = @gd.atendimento_id
%p
  %b Tipo exame:
  = @gd.tipo_exame_id

= link_to 'Edit', edit_gd_path(@gd)
\|
= link_to 'Back', gds_path
