-model_class = Funcionario
%h1 
    Funcionários
    %small - Listagem
%p
%table.table.table-striped
    %thead
        %th #
        %th 
            = link_to "Matrícula",:sort=>"matricula"
        %th 
            = link_to "Nome",:sort=>"pessoa_id"
        %th 
            = link_to "Cargo",:sort=>"cargo_id"
        %th 
            = link_to "Email",:sort=>"user_id"
        %th 
            = link_to "Data de admissão",:sort=>"dt_admissao"
        %th 
            = link_to "Ativo",:sort=>"ativo"
        %th 
    %tbody
        -@funcionarios.each_with_index do |f,index|
            %tr
                %td 
                    =index+1
                %td 
                    =f.matricula
                %td 
                    =f.pessoa.nome
                %td
                    =f.cargo.descricao
                %td
                    =f.user.nil? ? "--": f.user.email
                %td 
                    =f.dt_admissao
                %td
                    =f.ativo
                %td
                    = link_to edit_funcionario_path(f), :class=>'btn btn-mini' do 
                        %i.icon-edit
                        Alterar
                    = link_to funcionario_path(f),:method=>:delete, :class=>'btn btn-mini btn-danger',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) } do
                        %i.icon-trash.icon-white
                        Apagar
%ul.pagination
    = paginate_bootstrap(@funcionarios)
= link_to new_funcionario_path, :class=>'btn btn-primary' do
    %i.icon-file.icon-white 
    Novo
%p
